@import "_colors";

p.espace{
  margin: 4% 0 1% 0;
}
.river{
  background: $river;
  color: white;
}
.gazon{
  background: $gazon;
}

.artistes{
    img{
      width: 80%;
    }
}

.fond{
  display: flex;
  align-items:flex-end;
  justify-content: center;
}

ul.dame{
    display: flex;
    padding: 0;
    border: 1px solid black;
    text-align: center;
    li{
      width: 80%;
      list-style-type: none;
    }
    li:first-child{
      background: yellow;
      width: 10%;
    }
    li:last-child{
      background: yellow;
      width: 10%;
    }
}
ul.dame2{
    display: flex;
    justify-content: space-around;
    padding: 0;
    border: 1px solid black;
    text-align: center;
    li{

      list-style-type: none;
    }
    li:first-child{
      background: yellow;
    }

}
ul.dame3{
   display: flex;
    padding: 0;
    border: 1px solid black;
    li{
      list-style-type: none;
    }
    li:first-child{
      background: yellow;
      flex: 1;
    }
    li:last-child{
      background: yellow;
      flex: 1;
    }
}
ul.dame4{
    text-align: center;
    padding: 0;
    border: 1px solid black;
    li{
      list-style-type: none;
    }
}
.country{
display: flex;
}
.river2{
  order: 2;
  width: 50%;
  background: $river;

}
.bergeG, .bergeD{
  background: $gazon;
  color: white;
  min-height: 100px;

}
.bergeG{
  order: 1;
  width: 25%;
}
.bergeD{
  order: 3;
  width: 25%;
}
.fond{

  background: url('../img/damier.png');
  min-height: 350px;
}
